.yun-progress {
  position: relative;
  line-height: 1;
}
.yun-progress-bar {
  padding-right: 60px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-right: -60px;
  box-sizing: border-box;
  &.is-active {
    .yun-progress-bar__inner::before {
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      bottom: 0;
      left: 0;
      background: #fff;
      border-radius: 10px;
      opacity: 0;
      background-size: 400% 100%;
      animation: progress-bar-stripes 1.5s cubic-bezier(0.23, 1, 0.32, 1) infinite;
    }
  }
}
.yun-progress-bar__outer {
  height: 8px;
  border-radius: 100px;
  background-color: #f3f3f3;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.yun-progress-bar__inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--yun-color-primary);
  text-align: right;
  border-radius: 100px;
  line-height: 1;
  white-space: nowrap;
  transition: width 0.6s ease;
}
.yun-progress-text-inside .yun-progress-bar {
  padding-right: 0;
  margin-right: 0;
}
.yun-progress__text {
  font-size: var(--yun-base-font-size);
  color: var(--yun-color-text-default);
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  line-height: 1;
}
.yun-progress-bar__innerText {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 12px;
  margin: 0 5px;
}
.yun-progress-bar__inner:after {
  display: inline-block;
  content: '';
  height: 100%;
  vertical-align: middle;
}

.yun-progress.progress-success .yun-progress__text {
  color: var(--yun-color-success);
}
.yun-progress.progress-success .yun-progress-bar__inner {
  background-color: var(--yun-color-success);
}
.yun-progress.progress-exception .yun-progress__text {
  color: var(--yun-color-danger);
}
.yun-progress.progress-exception .yun-progress-bar__inner {
  background-color: var(--yun-color-danger);
}

// Spec and IE10+
@keyframes progress-bar-stripes {
  0% {
    width: 0;
    opacity: 0.6;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
