@import '../../common/variables.scss';

@mixin placeholder() {
  // Firefox
  &::-moz-placeholder {
    color: $color-text-placeholder;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  // Internet Explorer 10+
  &:-ms-input-placeholder {
    color: $color-text-placeholder;
  }
  // Safari and Chrome
  &::-webkit-input-placeholder {
    color: $color-text-placeholder;
  }
}
.yun-input-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  position: relative;
  line-height: $base-line-height;
  label {
    display: inline-block;
    width: 100%;
    height: auto;
  }
  &:hover {
    .yun-input-icon-clear {
      display: flex;
      i {
        background-color: #fff;
      }
    }
  }
  .yun-input-icon-clear .yun-icon-close-circle-fill {
    vertical-align: baseline;
    cursor: pointer;
    color: $color-text-secondary;
  }
  &.yun-input-group-with-prepend,
  &.yun-input-group-with-append {
    display: inline-flex;
    > .yun-input {
      &:hover,
      &:focus {
        z-index: 1;
      }
    }
    > .yun-input-suffix,
    > .yun-input-prefix {
      z-index: 2;
    }
  }
  &.yun-input-group-with-append {
    .yun-input-icon-clear {
      right: 80px;
    }
  }
  &.yun-input-group-with-append {
    display: inline-flex;
  }
  .yun-input-group-prepend,
  .yun-input-group-append {
    position: relative;
  }
  .yun-input-group-prepend {
    right: -1px;
    z-index: 1;
  }

  .yun-input-group-append {
    left: -1px;
  }
}
// 大小设置
.yun-input-wrapper-large {
  .yun-input-with-prefix {
    padding-left: $large-height;
  }
  .yun-input-prefix,
  .yun-input-suffix {
    width: $large-height;
  }
}
.yun-input-wrapper-small {
  .yun-input-with-prefix {
    padding-left: $small-height;
  }
  .yun-input-prefix,
  .yun-input-suffix {
    width: $small-height;
  }
}
.yun-input-wrapper-mini {
  .yun-input-with-prefix {
    padding-left: $mini-height;
  }
  .yun-input-prefix,
  .yun-input-suffix {
    width: $mini-height;
  }
}

.yun-input {
  display: inline-block;
  width: 100%;
  height: $default-height;
  line-height: $base-line-height;
  padding: 0 12px;
  font-size: $base-font-size;
  border: $border-base;
  border-radius: $border-base-radius;
  color: $color-text-default;
  background-color: $color-white;
  background-image: none;
  position: relative;
  cursor: text;
  font-weight: normal;
  transition: border $animation-duration-base ease-in-out, background $animation-duration-base ease-in-out,
    box-shadow $animation-duration-base ease;
  @include placeholder();
  &:focus,
  &:hover {
    border-color: $color-primary;
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px $color-input-shadow;
  }
  &.yun-input-with-suffix {
    padding-right: 28px;
  }
  &.yun-input-with-prefix {
    padding-left: 28px;
  }
}
// 大小设置
.yun-input-large {
  height: $large-height;
  font-size: $header-font-size;
}

.yun-input-small {
  height: $small-height;
}

.yun-input-mini {
  height: $mini-height;
}
//  图标部分
.yun-input-hide-icon .yun-input-icon,
.yun-input-icon-clear,
.yun-input-icon-validate {
  display: none;
}
.yun-input-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 100%;
  line-height: 1;
  font-size: 14px;
  text-align: center;
  color: $color-text-secondary;
  justify-content: center;
  align-items: center;
  &-normal {
    display: flex;
  }
  &-clear {
    z-index: 1;
  }
}
.yun-input-icon-normal + .yun-input {
  padding-right: 36px;
}

.yun-input-prefix,
.yun-input-suffix {
  width: 32px;
  height: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    vertical-align: middle;
    font-size: 14px;
    color: $color-text-secondary;
    &.yun-icon-close-circle-fill {
      cursor: pointer;
    }
  }
}
.yun-input-suffix {
  left: auto;
  right: 0;
}
//  搜索
.yun-input-search-icon,
.yun-input-view-icon {
  cursor: pointer;
  transition: color $animation-duration-base ease-in-out;
  &:hover {
    color: $color-text-default;
  }
  &:active {
    color: $color-text-secondary;
  }
}
.yun-input-search {
  cursor: pointer;
  padding: 0 16px !important;
  background: $color-primary !important;
  color: #fff !important;
  border-color: $color-primary !important;
  transition: all $animation-duration-base ease-in-out;
  position: relative;
  z-index: 0;
}
textarea.yun-input {
  max-width: 100%;
  height: auto;
  min-height: 32px;
  vertical-align: bottom;
  font-size: $base-font-size;
  padding: 4px 7px;
  resize: vertical;
}
.yun-input[disabled],
fieldset[disabled] .yun-input {
  opacity: 1;
  cursor: not-allowed;
  background-color: #f9f9f9;
  color: $color-text-placeholder;
}

.yun-input-word-count {
  text-align: center;
  position: absolute;
  right: 7px;
  top: 2px;
  bottom: 2px;
  padding-left: 7px;
  background: #fff;
  z-index: 0;
  display: inline-flex;
  align-items: center;
  color: #808695;
  font-size: 12px;
}

.yun-input-type-text.yun-input-with-word-count .yun-input {
  padding-right: 40px;
}
.yun-input-type-textarea.yun-input-with-word-count .yun-input {
  padding-bottom: 16px;
}
.yun-input-type-textarea .yun-input-word-count {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  top: auto;
  right: 17px;
}
