.yun-card {
  border-radius: var(--yun-border-base-radius);
  border: var(--yun-border-base-light);
  background-color: #fff;
  transition: var(--yun-animation-duration-base);
  width: 100%;
  &.is-always-shadow,
  &.is-hover-shadow:focus,
  &.is-hover-shadow:hover {
    box-shadow: var(--yun-shadow-popper);
  }
  &.is-never-shadow,
  &.is-never-shadow:focus,
  &.is-never-shadow:hover {
    box-shadow: none;
  }
  &.is-no-border {
    border: none;
  }
  .yun-card__header {
    padding: 10px 16px;
    box-sizing: border-box;
    font-size: var(--yun-base-font-size);
    color: var(--yun-color-text-primary);
    font-weight: 500;
    &.has-divider {
      border-bottom: var(--yun-border-base-light);
    }
    &.no-divider {
      border-bottom: none;
    }
    &.has-tip {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 12px;
        bottom: 12px;
        width: 2px;
        background: var(--yun-color-primary);
      }
    }
  }
  .yun-card__body {
    padding: 16px;
  }
}
