.yun-radio {
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  margin-right: 8px;
  user-select: none;
  font-size: var(--yun-base-font-size);
  line-height: var(--yun-base-line-height);
  outline: none;
  &-group {
    font-size: 0;
  }
  &__label {
    padding: 0 8px;
    vertical-align: middle;
  }
  &__input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    &:hover {
      .yun-radio__inner {
        border-color: var(--yun-color-primary-light1);
      }
    }
    &.is-checked {
      .yun-radio__inner {
        border-color: var(--yun-color-primary);
        &:after {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
          transition: all var(--yun-animation-duration-base) ease-in-out;
        }
      }
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid var(--yun-color-primary);
        border-radius: 50%;
        animation: radioEffect var(--yun-animation-duration-slow) ease-in-out;
        animation-fill-mode: both;
        content: '';
      }
    }
    &.is-disabled {
      .yun-radio__inner {
        cursor: not-allowed;
        border-color: #dcdee2;
        background-color: #f3f3f3;
        &:after {
          background-color: #ccc;
        }
      }
    }
  }
  &__inner {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: var(--yun-border-base);
    border-radius: 50%;
    transition: all var(--yun-animation-duration-base) ease-in-out;
    &:after {
      position: absolute;
      width: 8px;
      height: 8px;
      left: 3px;
      top: 3px;
      border-radius: 8px;
      display: table;
      border-top: 0;
      border-left: 0;
      content: ' ';
      background-color: var(--yun-color-primary);
      opacity: 0;
      transition: all var(--yun-animation-duration-base) ease-in-out;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
  &__original {
    position: absolute;
    opacity: 0;
    outline: none;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
    &[disabled] {
      cursor: not-allowed;
    }
  }
  &.is-disabled {
    .yun-radio__label {
      color: #ccc;
      cursor: not-allowed;
    }
  }
}

.yun-radio-group-button {
  font-size: 0;
  .yun-radio {
    position: relative;
    margin: 0;
    padding: 0 15px;
    color: #515a6e;
    border: 1px solid #dcdee2;
    background: #fff;
    height: var(--yun-default-height);
    line-height: var(--yun-default-height);
    transition: background-color var(--yun-animation-duration-base), color var(--yun-animation-duration-base);
    &:hover {
      color: var(--yun-color-primary);
      border-color: var(--yun-color-primary);
      z-index: 1;
    }
    > span {
      margin-left: 0;
      padding: 0;
      vertical-align: baseline;
    }
    .yun-radio__input,
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    &:first-child {
      border-radius: var(--yun-border-base-radius) 0 0 var(--yun-border-base-radius);
    }
    &:last-child {
      border-radius: 0 var(--yun-border-base-radius) var(--yun-border-base-radius) 0;
    }
    + .yun-radio {
      margin-left: -1px;
    }
    &__input {
      display: none;
    }
  }
  &.yun-radio-group-large .yun-radio {
    height: var(--yun-large-height);
    line-height: var(--yun-large-height-2);
    padding: 0 16px;
  }
  &.yun-radio-group-small .yun-radio {
    height: var(--yun-small-height);
    line-height: var(--yun-small-height-2);
    padding: 0 12px;
  }
  &.yun-radio-group-mini .yun-radio {
    height: var(--yun-mini-height);
    line-height: var(--yun-mini-height-2);
    padding: 0 8px;
  }
  .yun-radio.is-checked {
    background: var(--yun-color-primary);
    border-color: var(--yun-color-primary);
    color: #fff;
    z-index: 1;
    &:hover {
      color: #fff;
      border-color: var(--yun-color-primary);
      z-index: 1;
    }
  }
  .yun-radio.is-disabled {
    cursor: not-allowed;
    border-color: #dcdee2;
    background-color: #f7f7f7;
    color: #ccc;
    &:first-child,
    &:hover {
      border-color: #dcdee2;
      background-color: #f7f7f7;
      color: #ccc;
    }
    &.is-checked {
      color: #fff;
      background-color: #e6e6e6;
      border-color: #dcdee2;
    }
  }
}

@keyframes radioEffect {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
