@import '../../common/variables.scss';
.yun-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 0;
  line-height: 1.5;

  &-item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    &:last-child {
      -webkit-box-flex: 0;
      -ms-flex: 0;
      flex: none;
    }

    &.yun-steps-status-wait {
      .yun-steps-head-inner {
        background-color: #fff;
        > .yun-steps-icon,
        span {
          color: var(--yun-color-text-disabled);
        }
      }
      .yun-steps-title {
        color: var(--yun-color-text-secondary);
      }
      .yun-steps-content {
        color: var(--yun-color-text-secondary);
      }
      .yun-steps-tail > i {
        background-color: var(--yun-border-color-base);
      }
    }
    &.yun-steps-status-process {
      .yun-steps-head-inner {
        border-color: var(--yun-color-primary);
        background-color: var(--yun-color-primary);
        > .yun-steps-icon,
        span {
          color: #fff;
        }
      }
      .yun-steps-title {
        color: var(--yun-color-text-primary);
      }
      .yun-steps-content {
        color: var(--yun-color-text-default);
      }
      .yun-steps-tail > i {
        background-color: var(--yun-border-color-base);
      }
    }
    &.yun-steps-status-finish {
      .yun-steps-head-inner {
        background-color: #fff;
        border-color: var(--yun-color-primary);
        > .yun-steps-icon,
        span {
          color: var(--yun-color-primary);
        }
      }
      .yun-steps-tail > i:after {
        width: 100%;
        background: var(--yun-color-primary);
        transition: var(--yun-animation-duration-base) ease-in-out;
        opacity: 1;
      }
      .yun-steps-title {
        color: var(--yun-color-text-secondary);
      }
      .yun-steps-content {
        color: var(--yun-color-text-secondary);
      }
    }
    &.yun-steps-status-success {
      .yun-steps-head-inner {
        background-color: #fff;
        border-color: var(--yun-color-success);
        > .yun-steps-icon {
          color: var(--yun-color-success);
        }
        span {
          color: var(--yun-color-success);
        }
      }
      .yun-steps-title {
        color: var(--yun-color-success);
      }
      .yun-steps-content {
        color: var(--yun-color-success);
      }
      .yun-steps-tail > i {
        background-color: var(--yun-border-color-base);
      }
    }

    &.yun-steps-next-success {
      .yun-steps-tail > i,
      .yun-steps-tail > i:after {
        background-color: var(--yun-color-success);
      }
    }

    &.yun-steps-status-error {
      .yun-steps-head-inner {
        background-color: #fff;
        border-color: var(--yun-color-danger);
        > .yun-steps-icon {
          color: var(--yun-color-danger);
        }
      }
      .yun-steps-title {
        color: var(--yun-color-danger);
      }
      .yun-steps-content {
        color: var(--yun-color-danger);
      }
      .yun-steps-tail > i {
        background-color: var(--yun-border-color-base);
      }
    }

    &.yun-steps-next-error {
      .yun-steps-tail > i,
      .yun-steps-tail > i:after {
        background-color: var(--yun-color-danger);
      }
    }

    &.yun-steps-custom {
      .yun-steps-head-inner {
        background: none;
        border: 0;
        width: auto;
        height: auto;
        > .yun-steps-icon {
          font-size: 20px;
          top: 2px;
          width: 20px;
          height: 20px;
        }
      }
      &.yun-steps-status-process {
        .yun-steps-head-inner > .yun-steps-icon {
          color: var(--yun-color-primary);
        }
      }
    }
  }
  &-item:last-child &-tail {
    display: none;
  }

  .yun-steps-head,
  .yun-steps-main {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  .yun-steps-head {
    background: #fff;
  }

  .yun-steps-head-inner {
    display: block;
    width: 26px;
    height: 26px;
    line-height: 24px;
    margin-right: 8px;
    text-align: center;
    border: 1px solid var(--yun-color-text-disabled);
    border-radius: 50%;
    font-size: 14px;
    transition: background-color var(--yun-animation-duration-base) ease-in-out;

    > .yun-steps-icon {
      line-height: 1;
      position: relative;
      vertical-align: -1px;

      &.yun-iconfont {
        font-size: 16px;
      }
      .icon-ios-checkmark-empty,
      .icon-ios-close-empty {
        font-weight: bold;
      }
    }
  }
  .yun-steps-main {
    margin-top: 2.5px;
    display: inline;
  }
  .yun-steps-custom .yun-steps-title {
    margin-top: 2.5px;
  }

  .yun-steps-title {
    display: inline-block;
    margin-bottom: 4px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
    color: var(--yun-color-text-primary);
    background: #fff;

    > a:first-child:last-child {
      color: var(--yun-color-text-primary);
    }
  }
  .yun-steps-item-last {
    .yun-steps-title {
      padding-right: 0;
      width: 100%;
    }
  }
  .yun-steps-content {
    font-size: 12px;
    color: #999;
  }
  .yun-steps-tail {
    width: 100%;
    padding: 0 10px;
    position: absolute;
    left: 0;
    top: 13px;
    > i {
      display: inline-block;
      width: 100%;
      height: 1px;
      vertical-align: top;
      background: var(--yun-border-color-base);
      border-radius: 1px;
      position: relative;
      &:after {
        content: '';
        width: 0;
        height: 100%;
        background: var(--yun-border-color-base);
        opacity: 0;
        position: absolute;
        top: 0;
      }
    }
  }

  &.yun-steps-small {
    .yun-steps-head-inner {
      width: 18px;
      height: 18px;
      line-height: 16px;
      margin-right: 10px;
      text-align: center;
      border-radius: 50%;
      font-size: 12px;

      > .yun-steps-icon.yun-iconfont {
        font-size: 12px;
        top: 0;
      }
    }
    .yun-steps-main {
      margin-top: 0;
    }
    .yun-steps-title {
      margin-bottom: 4px;
      margin-top: 0;
      color: var(--yun-color-text-primary);
      font-size: 12px;
      font-weight: bold;
    }
    .yun-steps-content {
      font-size: 12px;
      color: var(--yun-color-text-default);
      padding-left: 30px;
    }
    .yun-steps-tail {
      top: 8px;
      padding: 0 8px;
      > i {
        height: 1px;
        width: 100%;
        border-radius: 1px;
      }
    }
  }

  &.yun-steps-small .yun-steps-item.yun-steps-custom .yun-steps-head-inner,
  .yun-steps-item.yun-steps-custom .yun-steps-head-inner {
    width: inherit;
    height: inherit;
    line-height: inherit;
    border-radius: 0;
    border: 0;
    background: none;
  }
}

.yun-steps-vertical {
  display: block;
  .yun-steps-item {
    display: block;
    overflow: visible;
  }

  .yun-steps-tail {
    position: absolute;
    left: 13px;
    top: 0;
    height: 100%;
    width: 1px;
    padding: 30px 0 4px 0;
    > i {
      height: 100%;
      width: 1px;
      &:after {
        height: 0;
        width: 100%;
      }
    }
  }

  .yun-steps-status-finish {
    .yun-steps-tail > i:after {
      height: 100%;
    }
  }

  .yun-steps-head {
    float: left;
    &-inner {
      margin-right: 16px;
    }
  }

  .yun-steps-main {
    min-height: 47px;
    overflow: hidden;
    display: block;
    .yun-steps-title {
      line-height: 26px;
    }
    .yun-steps-content {
      padding-bottom: 12px;
      padding-left: 0;
    }
  }

  .yun-steps-custom .yun-steps-icon {
    left: 4px;
  }
  &.yun-steps-small .yun-steps-custom .yun-steps-icon {
    left: 0;
  }
}

.yun-steps-vertical.yun-steps-small {
  .yun-steps-tail {
    position: absolute;
    left: 9px;
    top: 0;
    padding: 22px 0 4px 0;
    > i {
      height: 100%;
    }
  }

  .yun-steps-title {
    line-height: 18px;
  }
}

.yun-steps-horizontal {
  &.yun-steps-hidden {
    visibility: hidden;
  }
  .yun-steps-content {
    //max-width: 100px;
    padding-left: 35px;
  }
  .yun-steps-item:not(:first-child) .yun-steps-head {
    padding-left: 10px;
    margin-left: -10px;
  }
}
